/* NAV-BAR CSS STARTS */
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ALL OF THE HTML */
html {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}
#box {
  background-color: black;
  margin: auto;
  width: 350px;
  height: 350px;
  padding: 20px;
  border-radius: 7.5px;
}

#title {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
}

#username,
#password,
#firstname,
#lastname {
  height: 25px;
  border-radius: 5px;
  padding: 4px;
  border: solid thin #aaa;
  width: 100%;
}

#button1 {
  padding: 10px;
  width: 100px;
  color: white;
  background-color: #a92525; /* RED */
  transition: background-color 650ms;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 45px;
  cursor: pointer;
}

#button2 {
  padding: 10px;
  width: 100px;
  color: white;
  text-align: center;
  background-color: #1e7fa3;
  transition: background-color 650ms;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 45px;
  cursor: pointer;
}

/* Hero */
.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
    url("../media/SESCORE_logo_V2.png") center no-repeat;
    background-size: cover;
}

.text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #eee;
    text-align: center;
}
